<div class="text-center">
<h1>Modifier l'article <%= @article.title %></h1>
</div>
<%= simple_form_for @article do |f| %>
<div class="container shadow bg-white rounded my-5 p-4">
<div class="row">
<div class="col-8">
<%= f.input :title, label: "Nom" %>
</div>
<div class="col-4">
<%= f.input :stars, label: "Est ce un bon souvenir ?", collection: 0..5 %>
</div>
</div>
<%= f.input :content, label: "Décrivez votre souvenir"  %>
<div class="text-right">
<%= f.button :submit, "Enregistrer les modifications", class: "btn btn-primary" %>
</div>
</div>
<% end %>
